* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0;
  background-color: #2d4e70;
  color: white;
  text-align: center;
}

h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 400;
}

form {
  text-align: center;
  font-size: medium;
  margin-top: 15px;
  padding: 20px;
}

button {
  text-align: center;
  font-size: medium;
  background-color: #deebf8;
  margin-left: 10px;
  margin-top: 15px;
}

option {
  text-align: center;
  font-size: medium;
  margin-left: 10px;
  margin-top: 15px;
}

